<h1>Delete and Save</h1>
{% if vgt %}

<form method="POST" action="delete_admin1">
    <p>name:<input type="text" id="txt1" name="T1" value="{{vgt[0]}}"/></p>
    <p>address:<input type="text" id="txt2" name="T2" value="{{vgt[1]}}"/></p>
    <p>name:<input type="text" id="txt3" name="T3" value="{{vgt[2]}}"/></p>
    <p>name:<input type="text" id="txt4" name="T4" value="{{vgt[3]}}"/></p>
    <button type="submit" id="btn1" name="B1">Delete</button>
</form>

{% elif msg %}
    <h3>{{ msg }}</h3>
{% endif %}