<!--not need code
<h1>Hospitals</h1>
{% for row in result %}
    <h3>NAME : {{ row[0] }}</h3>
    <p>
        Address : {{ row[1] }}<br/>
        contact : {{ row[2] }}<br/>
        Email : {{row[3]}}<br/>

        {% if row[4]=='no' %}
            <form method="post" enctype="multipart/form-data"
                  action="hospital_photo">
                <p>
                    <input type="hidden" name="H1" value="{{row[3]}}" />
                    Photo <input type="file" name="F1"/>
                    <input type="submit" name="B1" value="Upload"/>
                </p>
            </form>
        {% else %}
            <img src="../static/hospital_photo/{{ row[4] }}" width="100" height="100"/>
            <form method="post" action="change_hospital_photo">
                <input type="hidden" name="H1" value="{{ row[3] }}"/>
                <input type="hidden" name="H2" value="{{ row[4] }}"/>
                <input type="submit" name="B1" value="Change"/>
            </form>
        {% endif %}
    </p>
    <hr/>
    {% endfor %}
-->